<div class="container">
	<div class="col-md-8 col-md-offset-2 text-center">
		<h1>Spotangular</h1>
		<img src="./assets/images/logo.png" id="logo">
		<h2>Search for songs, assemble your favorites, create the ultimate playlist</h2>
		<form class="form-inline" ng-submit="searchSong()">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="song" placeholder="Song Name">
				<input type="submit" value="Search" class="btn btn-primary">
			</div>
		</form>
		<hr>
		<div class="row" ng-show="songs.length > 0">
			<div ng-repeat="s in songs">
				<img ng-src="{{s.album.images[1].url}}" alt="Album photo" class="album-photos">
				<br>
				<h3>{{s.name}}</h3>
				<p>Artist: {{s.artists[0].name}}</p>
				<p>Album: {{s.album.name}}</p>
				<a href="{{s.preview_url}}" class="btn btn-warning">Preview Song</a>
				<br><br>
				<audio controls>
					<source ng-src="{{object.src | trusted}}"="{{s.preview_url}}" type="audio/mpeg" />
				Your browser does not support the audio element
				</audio>
				<br>
				<p><i class="fa fa-2x fa-heart"></i>  <a class="btn btn-success" href="javascript:void(0)" ng-click="saveSong(s)">+Favorite</a>  <i class="fa fa-2x fa-heart"></i></p>
				<hr>
			</div>
		</div>
	</div>
</div>
