<div class="container">
	<h3>My Playlist</h3>
	<div class="row" ng-show="favorites.length > 0">
		<div class="col-md-6 col-md-offset-3 text-center" ng-repeat="f in favorites">
			<img ng-src="{{f.album.images[1].url}}" alt="Album photo">
			<br>
			<p>{{f.name}}</p>
			<p>{{f.artists[0].name}}</p>
			<p>{{f.album.name}}</p>
			<a href="{{f.preview_url}}">Preview Song</a>
			<br>
			<audio controls>
				<source ng-src="{{object.src | trusted}}"="{{f.preview_url}}" type="audio/mpeg" />
				Your browser does not support the audio element
			</audio>
		</div>
	</div>
</div>